@import "bgImages.scss";
@import "variables.scss";
@import "fonts.scss";


        @mixin centerAll {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .removeSpace{
            margin-bottom: 0px;
        }

        .alignRight{
          text-align: right;
        }

        .flexMe{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .flexChildren{
            flex: 1;
        }

//----------------------
//REUSABLE INPUT CLASSES
//----------------------
        .input {
            padding: 18px 30px;
            border: none;
            border-right: 1px solid #B3B3B3;
        }

        .input::placeholder{
          color: #B3B3B3;
        }

//-----------------------
//REUSABLE BUTTON CLASSES
//-----------------------

      @mixin btn {
          border-radius: 100px;
          border: 3px solid $primary;
          height: 50px;
          font-size: 20px;
          font-weight: 400;
      }

      @mixin fillBtn{
          @include btn;
          background-color: $primary;
          color: white;
      }

      @mixin outlineBtn{
          @include btn;
          background-color: Transparent;
          background-repeat:no-repeat;
          color: $primary;
      }

      .outlineBtn{
          @include outlineBtn;
          margin-right: 20px;
          margin-top: 40px;
          width: 160px;
      }

      .outlineBtn:hover {
          background: rgba(0,0,0,0);
          color: #3a7999;
          box-shadow: inset 0 0 0 3px #3a7999;
      }

      .fillBtn{
          @include fillBtn;
          margin-top: 40px;
          width: 160px;
      }

      .iconBtnFill{
          @include fillBtn;
          font-size: 18px;
      }
      .iconBtnOutline{
          @include outlineBtn;
          font-size: 18px;
      }
      .btnText{
          text-align: center;
          margin-left: 65px;
      }
      .icon{
          text-align: right;
          margin-left : 55px;
          margin-right: 10px;
      }



//---------------------
//REUSABLE FONT CLASSES
//---------------------

      .bannerHeading{
          @include bannerHeading;
          padding-left: 0px !important;
      }

//-------------------
//SECTION ONE STYLING
//-------------------


      .sectionOneInner{
          width: 60%;
          @include centerAll;
      }

      .submitBtn{
          color: white;
          background-color: $primary;
          border: none;
      }

//--------------------
//SECTION THREE STYLING
//--------------------

      .halfScreen{
          background-color: white;
          width: 30%;
          height: 100vh;
          padding: 40px;
          overflow: scroll;
      }

      .item{
          background-color: $bgGrey;
          width: 100%;
          margin-bottom: 20px;
      }

      .itemLabel{
          // margin-left: 20px;
          margin-top: 20px;
      }

      .itemInfo{
          display: block;
          width: 100%;
          padding-left: 15%;
          padding-right: 15%;
          // overflow: scroll;

      }

      .moreInfoBtn{
        @include outlineBtn;
        font-size: 18px;
        margin-right: 20px;
        width: 350px;
        margin-top: 30px;
      }

      .hide{
        display: none;
      }

//--------------------
//SECTION FIVE STYLING
//--------------------

      .sectionFiveInner{
          @include centerAll;
          width: 60%;
          text-align: center;
      }
