@import "bgImages.scss";
@import "variables.scss";
@import "fonts.scss";
//----------------------
//REUSABLE LAYOUT CLASSES
//----------------------
@mixin centerAll {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.removeSpace {
	margin-bottom: 0px;
}
.alignRight {
	text-align: right;
}
.flexMe {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flexChildren {
	flex: 1;
}
.centerMe {
	text-align: center;
}
.halfScreenMap {
	background-color: white;
	width: 40%;
	height: 100vh;
	padding: 40px;
}
.halfScreen {
	background-color: white;
	width: 40%;
	height: 100vh;
	padding: 40px;
	overflow: scroll;
}
.fullWidth {
	width: 100%;
}
.cap {
	text-transform: capitalize;
}
.backBtn {
	margin-bottom: 50px;
}
.backBtnText {
	color: $primary;
}
//----------------------
//REUSABLE INPUT CLASSES
//----------------------
.input {
	padding: 20px;
	border: none;
	border-right: 1px solid $tertiary;
	color: $secondary;
	padding-left: 20px !important;
}
.input::placeholder {
	color: $tertiary;
}
//-----------------------
//REUSABLE BUTTON CLASSES
//-----------------------
@mixin btn {
	border-radius: 100px;
	border: 3px solid $primary;
	height: 50px;
	font-size: 20px;
	font-weight: 400;
}
@mixin fillBtn {
	@include btn;
	background-color: $primary;
	color: white;
}
@mixin outlineBtn {
	@include btn;
	background-color: Transparent;
	background-repeat: no-repeat;
	color: $primary;
}
.outlineBtn {
	@include outlineBtn;
	margin-right: 20px;
	margin-top: 40px;
	width: 160px;
	transition: all 0.5s ease;
}
.outlineBtn:hover {
	background-color: $primary;
	color: white;
}
.fillBtn {
	@include fillBtn;
	margin-top: 40px;
	width: 160px;
}
.iconBtnFill {
	@include fillBtn;
	font-size: 18px;
}
.iconBtnFillWide {
	@include fillBtn;
	font-size: 18px;
	width: 100%;
	transition: all 0.5s ease;
}
.iconBtnFillWide:hover {
	background: $primaryHover;
}
.iconBtnOutline {
	@include outlineBtn;
	font-size: 18px;
}
.btnText {
	text-align: center;
	margin-left: 65px;
}
.icon {
	text-align: right;
	margin-left: 55px;
	margin-right: 10px;
}
.iconWide {
	text-align: right;
	margin-left: 55px;
	margin-right: 10px;
}
.nextIconBtnFillWide {
	@include fillBtn;
	font-size: 18px;
	width: 35%;
	position: absolute;
	bottom: 5%;
	left: 2.5%;
	transition: all 0.5s ease;
}
.nextIconBtnFillWide:hover {
	background-color: $primaryHover;
	box-shadow: inset 0 0 0 5px $primaryHover;
}
button:focus {
	outline: 0 !important;
}
button:active {
	outline: none !important;
	border: none !important;
}
//---------------------
//REUSABLE FONT CLASSES
//---------------------
.bannerHeading {
	@include bannerHeading;
	padding-left: 0px !important;
}
//---------------
//TOOLTIP STYLING
//---------------
.tooltip-inner {
	background-color: $error !important;
	color: white;
}
.bs-tooltip-bottom .arrow::before {
	border-bottom-color: $error !important;
}
//-------------------
//SECTION ONE STYLING
//-------------------
.sectionOneInner {
	width: 75%;
	@include centerAll;
}
.submitBtn {
	color: white;
	background-color: $primary;
	border: none;
	transition: background-color 0.5s ease;
}
.submitBtn:hover {
	background-color: $primaryHover;
}
//--------------------
//SECTION TWO STYLING
//--------------------
body {
	margin: 0;
	padding: 0;
}
#map {
	position: absolute;
	left: 40%;
	top: 0;
	bottom: 0;
	width: 60%;
}
#inputGroupSelect1 {
	margin-top: 20px;
}
#inputGroupSelect2 {
	margin-top: 20px;
}
//--------------------
//SECTION THREE STYLING
//--------------------
.itemLabel {
	padding: 0px !important;
}
.itemInfo {
	display: block;
	width: 100%;
	padding-left: 15%;
	padding-right: 15%;
}
.moreInfoBtn {
	@include outlineBtn;
	font-size: 18px;
	margin-top: 5%;
	width: 100%;
	transition: all 0.5s ease;
}
.moreInfoBtn:hover {
	background-color: $primary;
	color: white;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.myItem {
	background-color: $bgGrey;
	margin-top: 40px;
	padding: 20px;
}
.myItem img {
	width: 5em;
}
.itemSubHeader {
	padding-bottom: 15px;
}
.itemInformation {
	padding-top: 40px;
}
.itemGeneralInfo {
}
.itemTripInfo {
	padding-top: 20px;
}
//--------------------
//SECTION FOUR STYLING
//--------------------
.bookingConfirmInfo {
	margin-top: 30px;
}
.line {
	margin-bottom: 15px;
}
//--------------------
//SECTION FIVE STYLING
//--------------------
.sectionFiveInner {
	@include centerAll;
	width: 60%;
	text-align: center;
}
#sectionFiveCongrat,
#sectionFiveDate {
	color: white;
}
