@import "bgImages.scss";
@import "variables.scss";
@import "fonts.scss";

//----------------------
//REUSABLE LAYOUT CLASSES
//----------------------
@mixin centerAll {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.removeSpace {
	margin-bottom: 0px;
}

.alignRight {
	text-align: right;
}

.flexMe {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flexChildren {
	flex: 1;
}

.halfScreenMap {
	background-color: white;
	width: 40%;
	height: 100vh;
	padding: 40px;
}

.halfScreen {
	background-color: white;
	width: 40%;
	height: 100vh;
	padding: 40px;
	overflow: scroll;
}

.fullWidth {
	width: 100%;
	// background-color: red;
}

.cap {
	text-transform: capitalize;
}

.backBtn {
	margin-bottom: 50px;
	// outline: 1px blue solid;
}

.backBtnText {
	// background-color: pink;
	color: $primary;
	// outline: 1px red solid;
}

//----------------------
//REUSABLE INPUT CLASSES
//----------------------
.input {
	padding: 20px;
	border: none;
	border-right: 1px solid $tertiary;
	color: $secondary;
	padding-left: 20px !important;
}

.input::placeholder {
	color: $tertiary;
	// padding-left: 20px;
}

//-----------------------
//REUSABLE BUTTON CLASSES
//-----------------------

@mixin btn {
	border-radius: 100px;
	border: 3px solid $primary;
	height: 50px;
	font-size: 20px;
	font-weight: 400;
}

@mixin fillBtn {
	@include btn;
	background-color: $primary;
	color: white;
}

@mixin outlineBtn {
	@include btn;
	background-color: Transparent;
	background-repeat: no-repeat;
	color: $primary;
}

.outlineBtn {
	@include outlineBtn;
	margin-right: 20px;
	margin-top: 40px;
	width: 160px;
}

.outlineBtn:hover {
	background: rgba(0, 0, 0, 0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}

.fillBtn {
	@include fillBtn;
	margin-top: 40px;
	width: 160px;
}

.iconBtnFill {
	@include fillBtn;
	font-size: 18px;
}
.iconBtnFillWide {
	@include fillBtn;
	font-size: 18px;
	width: 100%;
}
.iconBtnOutline {
	@include outlineBtn;
	font-size: 18px;
}
.btnText {
	text-align: center;
	margin-left: 65px;
}
.icon {
	text-align: right;
	margin-left: 55px;
	margin-right: 10px;
}
.iconWide {
	text-align: right;
	margin-left: 55px;
	margin-right: 10px;
}
.nextIconBtnFillWide {
	@include fillBtn;
	font-size: 18px;
	width: 35%;
	position: absolute;
	bottom: 5%;
	left: 2.5%;
}
button:focus {
	outline: 0;
}
button:active {
	outline: none;
	border: none;
}

//---------------------
//REUSABLE FONT CLASSES
//---------------------

.bannerHeading {
	@include bannerHeading;
	padding-left: 0px !important;
}

//---------------
//TOOLTIP STYLING
//---------------

.tooltip-inner {
	background-color: $error !important;
	color: white;
}
.bs-tooltip-bottom .arrow::before {
	border-bottom-color: $error !important;
}
// .arrow::before {
// 	display: none;
// }
//-------------------
//SECTION ONE STYLING
//-------------------

.sectionOneInner {
	width: 75%;
	@include centerAll;
}

.submitBtn {
	color: white;
	background-color: $primary;
	border: none;
}

//--------------------
//SECTION TWO STYLING
//--------------------

body {
	margin: 0;
	padding: 0;
}
#map {
	position: absolute;
	left: 40%;
	top: 0;
	bottom: 0;
	width: 60%;
}

#inputGroupSelect1 {
	margin-top: 20px;
}
#inputGroupSelect2 {
	margin-top: 20px;
}

//--------------------
//SECTION THREE STYLING
//--------------------

.itemLabel {
	padding: 0px !important;
}

.itemInfo {
	display: block;
	width: 100%;
	padding-left: 15%;
	padding-right: 15%;
}

.moreInfoBtn {
	@include outlineBtn;
	font-size: 18px;
	width: 350px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.myItem {
	background-color: $bgGrey;
	margin-top: 40px;
	padding: 20px;
}

.itemSubHeader {
	padding-bottom: 15px;
}

.itemInformation {
	padding-top: 40px;
}
.itemGeneralInfo {
}
.itemTripInfo {
	padding-top: 20px;
}

//--------------------
//SECTION FOUR STYLING
//--------------------
.bookingConfirmInfo {
	margin-top: 100px;
}
.line {
	margin-bottom: 30px;
}

//--------------------
//SECTION FIVE STYLING
//--------------------

.sectionFiveInner {
	@include centerAll;
	width: 60%;
	text-align: center;
}
